<div class="row">
  <div class="col s10 offset-s1">
    <br />
    <h3>Listing:<%= @listing.address %></h3>
    <br />
    <p>Listing Description: <%= @listing.description %></p>

    <p>Address: <%= @listing.address %></p>

    <p>Zip code: <%= @listing.zip %></p>

    <p>Square Footage: <%= @listing.square_footage %></p>
    <%= button_to 'Request Information', new_listing_inquery_path(@listing), method: :get %>
    <% if realtor_signed_in? %>
      <%= button_to 'Edit Listing', edit_realtor_listing_path, method: :get %>
      <%= button_to 'Delete Listing', realtor_listing_path(@listing), method: :delete %>
    <% end %>
  </div>
</div>